---
import BaseLayout from '../layouts/BaseLayout.astro';
import Icon from '../components/Icon.astro';
import IntroSlider from '../components/IntroSlider.astro';
import InstagramScroller from '../components/InstagramScroller.astro';
import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';

const introSlides = {
	slide_list: [
		{
			src: '/assets/carousel/at-work.jpg',
		},
		{
			src: '/assets/carousel/portrait.jpg',
		},
		{
			src: '/assets/carousel/portrait-bw.jpg',
		},
	],
};

---

<BaseLayout title="About | Ryan Parrish" description="About Ryan Parrish">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="Ryan Parrish"
				tagline="DIGITAL IMAGINEER"
			>
        <IntroSlider introSlides={introSlides} />
			</Hero>


			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
          <p><strong>20+</strong> years strong building dynamic and high-performance web experiences that connect with users</p>
            <br>I've had the thrill of crafting intuitive and engaging interfaces for leading brands like Adobe, Nike, and Backcountry. 
            My expertise includes developing seamless web user interfaces and scalable applications. 
            I am a leader who is driven by the passion for creating impactful digital solutions and I'm ready to bring an energetic and creative approach to your next challenge. 👍
          </p><br>
					<!-- <p>
						I am a senior developer at <a href="https://thinkingbox.com/">Thinking Box</a> 
						— A brand experience agency shaping the future through craft and curiosity.
						We are thinkers, doers — and above all — makers. Creating innovative, exceptional experiences that solve complex challenges for the world's biggest brands.
					</p>
					<br>
					<p>
						I am a full-stack web developer with over a decade of experience. I'm
						passionate about solving complex problems thru coding, design, art, user interaction, and
						innovation. My focus is to turn my client's goals into achievements and strengthen their purpose.
						Part of why I love development is the constant evolution of programing languages and the
						opportunity to always be learning new approaches, of refining old ones. I feel that my knowledge
						of this ecosystem and keeping adept in it's changing atmosphere is what give me the advantage
						when consulting w/ my clients on the lifecycle of development project. I have a broad range of
						utility and library experience that helps me be a more efficient developer and saves my clients in
						the end by hitting the ground running. Some of my tools use regularly are Node.js, Apache,
						React, Vue.js, Angular.js, Express, Mongo, Git, CLI, PHP, MySQL, Rest
						API's, Wordpress (theme and plugins)... and many custom libraries, packages and API
						endpoint integrations.
					</p> -->
				</div>
			</section>
			<section>
				<h2 class="section-title">Professional Experience</h2>
				<div class="content">
					<p class="title"><a href="https://thinkingbox.com/" target="_blank">ThinkingBox</a> — Senior Developer</p>
          <em>Feb 2021 - PRESENT</em>
          <ul>
            <li>Led a development team at Adobe using Edge Delivery Service for adobe.com and subsidiary sites.</li>
            <li>Contributed to the ‘Dexter’ codebase, (Adobe’s internal instance of A.E.M), to expand component functionality.</li>
            <li>Liaison between development, design & lead stakeholders to establish a unified design system, setting standards for development practice and cross team processes.</li>
            <li>Delivered custom solutions for clients’ business needs, data analytics and CMS integrations.</li>
          </ul>
          <a href="../work/adobe" class="case button">
            <img src="/assets/adobe/adobe-icon.svg" alt="" class="icon" />
            Adobe case study</a>
        </div>
				<div class="content">
          <p class="title"><a href="https://www.lifevantage.com/" target="_blank">LifeVantage</a> — Web Developer</p>
          <em>Mar 2020 - Feb 2021</em>
          <ul>
            <li>Lead developer on a high-traffic M.L.M. ecommerce platform with custom CMS and localization support. 🛠</li>
            <li>Strategized and implemented an interface for a customer referral program which increased distributors. 📈</li>
          </ul>
        </div>
				<div class="content">
          <p class="title"><a href="https://wearetopsecret.com/" target="_blank">Super Top Secret</a> — Interactive Developer</p>
          <em>April 2016 - Mar 2020</em>
          <ul>
            <li>Created C.M.S. solutions in Python/Wagtail/React for numerous top clients. 💰</li>
            <li>Maintained Nike’s zero.nike.com internal ‘intranet’ - A headless wordpress/angular site with localization.</li>
            <li>Built angular components & services, wordpress plugins, and custom API integrations.</li>
            <li>Interactive development using G.S.A.P., webGL, lottie 🎉</li>
            <li>Clients: Nike, Riot games, Clearlink, Arkade belts, Ski Utah, STS site, Harris Woolf Almonds, CE Solar, Black Oak Capital</li>
          </ul>
          <a href="../work/nike" class="case button">
            <img src="/assets/nike/nike-icon.svg" alt="" class="icon" />
            Nike case study
          </a>
        </div>
        <div class="content">
          <p class="title"><a href="https://stgconsulting.com/" target="_blank">Software Technology Group</a> — Front End Developer</p>
          <em>Sept. 2013 - Sept 2016</em>
          <ul>
            <li>Created a unique medical interface using near-field-communication (NVC) for medical patient data.</li>
            <li>Designed a relational database schema for a ski rental service, automating and streamlining business needs.</li>
            <li>Developed a product collection automation system and built A-level landing pages at Backcountry.com.</li>
            <li>Lead UI and Front-end developer on a proprietary HR software at Resource Management Inc.</li>
            <li>Front-end developer and database engineer for Court View, a highly complex justice management system.</li>
          </ul>
          <a href="../work/rip/backcountry" class="case button">
            <img src="/assets/rip/backcountry/backcountry-icon.svg" alt="" class="icon" />
            Backcountry case study
          </a>
				</div>
        <div class="content">
          <p class="title"><a href="https://stgconsulting.com/" target="_blank">Additional Experience</a> — Full-Time & Freelance Roles</p>
          <em>2004 - 2013</em>
          <ul>
            <li><a href="https://www.mrm.com/en/" target="_blank">MRM/MCCann SLC</a>: Worked on highly interactive UI for clients like AOL, Verizon, & Verisign.</li>
            <li><a href="https://lts.com/" target="_blank">LongView Tech solutions</a>: Contributed to the VA hospital Health Management Platform.</li>
            <li><a href="https://onlineimage.com/" target="_blank">Online Image</a>: SEO optimization and site improvements.</li>
            <li><a href="https://www.hotwaxsystems.com/" target="_blank">HotWax Media</a>: Developed OFBiz-based solutions for many clients, including Scarpa, TWP Mesh & Marco pinball. Built 3point5/Expertvoice brand awareness Edu-games… in flash (rip) 😱</li>
            <li><a href="https://www.overstock.com/" target="_blank">Overstock</a>: Web development and UX design.</li>
            <li><a href="https://www.biggerfasterstronger.com/" target="_blank">Bigger Faster Stronger</a>: Art Director for web, print, 3D, and video production.</li>
          </ul>
          <br>
          <p>You want more? <a href="../../public/assets/ryan-parrish-resume-2025-ast.pdf" download>Download</a> / 
            <a href="https://docs.google.com/document/d/e/2PACX-1vSoX882UrDnZDIJUQDlXCOgVjRYrz85Ipg5luFihhtuhGdg5uh3b3aDhYtPFFXA-viP74ir1Q8YaA3I/pub">view</a> my resume 📜</a>
          </p>
				</div>
			</section>
      
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<strong>Bachelor of Fine Arts (BFA) [2x major in Fine Art & Multimedia] @<a href="https://ncad.edu/" target="_blank">Northwest College of Art & Design</a></strong>
          <p>Studied: <a href="/artwork?discipline=paintings">painting</a>, <a href="/artwork?discipline=drawings">drawing</a>, <a href="/artwork?discipline=design">design</a>, visual communication, branding, business strategy, animation, video production, web development, 3D modeling & animation, philosophy, semiotics, anthropology, history & math.</p>
				</div>
			</section>

      <!-- <section>
				<h2 class="section-title">Skills</h2>
				<div class="content skills">
          <strong><Icon icon="terminal-window" color="var(--accent-regular)" size="2.2rem" gradient /> Full Stack</strong>
					<p>Party in the Front, Business in the Back!</p>
          
          <strong><Icon icon="feather" color="var(--accent-regular)" size="2.2rem" gradient /> Designer 1st</strong>
          <p>I firmly believe any
            developer should first be a designer,
            and vise-versa, so that they know the
            foundation of aesthetics, design
            principles, and take this carnal
            knowledge first and foremost into the
            lifecycle of a development project.
          </p>

          <strong><Icon icon="strategy" color="var(--accent-regular)" size="2.2rem" gradient />Strategy-Minded</strong>
          <p>I think outside
            the box, take risks, and make informed
            decisions about resource allocation.
            My vision will align with your goals.
            Through the risks we take we will see
            great rewards. We are creative, we
            don't accept the status quo. Because I
            am a voracious learner and adaptable, I
            am ready for change. I step back from
            the details and look at the situation
            from a high-level to give the most
            adept considerations for success.</p>
				</div>
			</section> -->
      <section>
        <h2 class="section-title">Skills</h2>
        <div class="content">
          <label for="technical-skills">Technical</label>
          <ul id="technical-skills">
            <li>JavaScript (ES6+): Async/await, destructuring, modular architecture.</li>
            <li>*.js libraries: React, Vue, Angular</li>
            <li>Native Web Components: Custom Elements, Shadow DOM, HTMLTemplates</li>
            <li>CSS: Flexbox, Grid, SCSS, Tailwind, animations</li>
            <li>TypeScript: Static typing for scalable apps</li>
            <li>Git: Branching, merging, collaboration</li>
            <li>APIs: REST, GraphQL, Axios, Apollo</li>
            <li>Testing: Jest, Puppeteer, Selenium</li>
            <li>Performance: Caching, CDN, image compression, Webpack, Vite</li>
            <li>CI/CD: GitHub Actions, Jenkins, GitLab CI</li>
            <li>Real-Time: WebSockets, Socket.io</li>
            <li>Security: XSS/CSRF protection, CORS, headers</li>
          </ul>
          <label for="systems-skills">Systems Go!</label>
          <ul id="systems-skills">
            <li>UX/UI & Accessibility: WCAG, brand-aligned design systems</li>
            <li>SEO & Performance: SEO strategies, Core Web Vitals optimization</li>
            <li>Team Collaboration: Agile workflows, mentoring, code reviews</li>
            <li>Problem Solving: Cross-stack flexibility and creative technical solutions</li>
          </ul>
        </div>
      </section>
      <section>
        <h2 class="section-title">Howdy partner!</h2>
        <div class="content">

          <blockquote>
            Alright, listen up! When I ain't busy tappin' away at that there keyboard, you'll find me up in them hills, paying respects to the powder day saints. Or come the hotter days, I'll be thirstin' for a lil' river in ya liver.
          </blockquote>
          <p>Follow me on <a href="https://www.instagram.com/ryanparrish/" target="_blank"><Icon icon="instagram-logo" /> Instagram</a> for more of my adventures!</p>
          <br>
          <InstagramScroller />
          <br>
          <p>This website? Whipped up with <a href="https://astro.build/" target="_blank">Astro.js</a>. Bonus feature: 1 feral <a href="#meow-cat" id="meow-cat-link">cat</a> adopted. No idea why. 🧶</p>
        </div>
      </section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
  :root {
    --bg-image-main: url('/assets/about/bg-main-light-800w.jpg');
  }

  :root.theme-dark {
    --bg-image-main: url('/assets/about/bg-main-dark-800w.jpg');
  }


  @media (min-width: 50em) {
    :root {
      --bg-image-main: url('/assets/about/bg-main-light-1440w.jpg');
    }
    :root.theme-dark {
      --bg-image-main: url('/assets/about/bg-main-dark-1440w.jpg');
    }
  }
</style>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	.slider-carousel img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}
  
  section em {
    font-size: var(--text-sm);
    color: var(--gray-300);
  }

	.content {
		grid-column: 2 / 4;
	}

  .skills p {
    color: var(--gray-400);
    margin-bottom: 2rem;
  }

  .case {
    margin: 1rem 0;
    padding: 0 .5rem;
    display: inline-flex;
    align-items: center;
    gap: .5rem;
    background: white;
    color: var(--gray-900)
  }

  .case .icon {
    width: 36px;
  }

	.content blockquote {
		margin: 20px 0;
		padding-left: 20px;
		border-left: 2px var(--link-color) solid;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}
  
  .content label,
  .content .title {
    font-size: var(--text-md);
    color: var(--gray-0);
    font-weight: 600;

  }

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
